<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Part I: Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td>Introducing the Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:05</td>        <!-- time    -->
        <td>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:25</td>        <!-- time    -->
        <td>Working With Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:45</td>        <!-- time    -->
        <td>Pipes and Filters</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Part II: Python Programming</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00</td>        <!-- time    -->
        <td>Running and Quitting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:15</td>        <!-- time    -->
        <td>Variables and Assignment</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Data Types and Type Conversion</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td>Built-in Functions and Help</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:25</td>        <!-- time    -->
        <td>Libraries</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:45</td>        <!-- time    -->
        <td>Reading Tabular Data into Data Frames</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00</td>        <!-- time    -->
        <td>Pandas Data Frames</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:30</td>        <!-- time    -->
        <td>Plotting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00</td>        <!-- time    -->
        <td>Lists</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:15</td>        <!-- time    -->
        <td>For Loops</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>2:40</td>        <!-- time    -->
        <td>Conditionals</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:15</td>        <!-- time    -->
        <td>Looping Over Data Sets</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>3:30</td>        <!-- time    -->
        <td>Writing Functions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>4:00</td>        <!-- time    -->
        <td>Variable Scope</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:20</td>        <!-- time    -->
        <td>Programming Style</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>4:45</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>5:00</td>        <!-- time    -->
        <td>Feedback</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
