<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Part I: Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        "8:05"
        <td></td>        "Navigating Files and Directories"
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        "8:45"
        <td></td>        "Working With Files and Directories"
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>        "9:15"
        <td></td>        "Pipes and Filters"
      </tr>
      <tr>               <!-- row 5   -->
        <td></td>        "9:45"
        <td></td>        "Morning Break"
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Part II: Python Programming</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
